// Imports
@use "../abstracts/" as *;

// Main Content
main {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

// Section
section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(1) {
    .content {
      justify-content: center;
    }
    img {
      width: 95%;
    }
  }

  // Section Content
  .content {
    width: 80%;
    border: 4px solid $primary;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba($primary, 0.6) inset;
    height: 85%;
    background-color: rgba(#888, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@include responsify(650px) {
  section:first-child {
    img {
      width: 500px;
    }
  }
}
